# Research Book

#### documenting the steps taken to

1- transform data

2- prep for modelling

3- analysis

4- notes

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

In [39]:
data = pd.read_csv('data_source/multifactorLMdata-xtnd.csv', parse_dates=True,infer_datetime_format= True)\
         .drop('Unnamed: 0', axis=1)

In [40]:
data.head()

,Date,company,current_price,momentum,moving_average,moving_volatility,trading_range,target_return,exp_market_change,rates,...,Gross_profit,Operating_profit,Net_Profit,Issue_of_shares,Share_repurchase,Non_current_assets,Current_assets,Non_current_liabilities,Current_liabilities,net_cash_op_act
0,2010/02/17,Anglogold Ashanti Ltd,29500.0,-0.103343,30598.216667,1854.530002,850.550000,0.090136,-0.016852,7.08,...,329.5,431.7,317.9,3.9,3.9,732.8,237.2,220.7,454.3,959.6
1,2010/05/06,Anglogold Ashanti Ltd,31150.0,0.139982,28743.150000,1079.933674,697.066667,-0.053612,0.044321,6.58,...,239.3,141.3,115.0,0.3,0.0,741.4,188.0,221.0,396.3,816.6
2,2010/08/11,Anglogold Ashanti Ltd,31420.0,-0.026943,31682.016667,1388.464601,864.983333,0.050286,0.008204,6.42,...,381.9,-8.9,-136.0,2.6,0.0,719.6,203.3,306.8,328.0,1003.0
3,2010/11/10,Anglogold Ashanti Ltd,34987.0,0.096771,32142.716667,784.923382,705.033333,-0.060365,0.136024,5.65,...,400.9,138.2,44.3,559.6,0.0,753.0,248.5,412.7,197.5,1056.6
4,2011/02/16,Anglogold Ashanti Ltd,33230.0,-0.007586,32411.016667,1134.366223,629.016667,-0.061601,0.076571,5.53,...,407.9,197.8,40.4,3.1,3.1,779.3,172.3,444.2,97.4,1095.5

In [41]:
debt = pd.read_csv('data_source/SA_Debt.csv', parse_dates=True,infer_datetime_format= True)

In [48]:
debt.head()

   Date  Debt(M)  Debt(%GDP)  Debt_Per_Capita
0  2017   154899       50.10              NaN
1  2016   152509       51.70           2742.0
2  2015   156650       49.33           2861.0
3  2014   164828       46.96           3057.0
4  2013   161760       44.10           3046.0

In [45]:
# Merge with debt and drop unnecessary columns
df_2 = data.merge(debt, how='left',
                 left_on=data['Date'].apply(lambda x: x[:4]),
                 right_on=debt['Date'].apply(lambda x: str(x)),
                 suffixes=('', '_y')).drop('Date_y', axis=1)

In [47]:
#data + debt
df_2.head(1)

,Date,company,current_price,momentum,moving_average,moving_volatility,trading_range,target_return,exp_market_change,rates,...,Issue_of_shares,Share_repurchase,Non_current_assets,Current_assets,Non_current_liabilities,Current_liabilities,net_cash_op_act,Debt(M),Debt(%GDP),Debt_Per_Capita
0,2010/02/17,Anglogold Ashanti Ltd,29500.0,-0.103343,30598.216667,1854.530002,850.55,0.090136,-0.016852,7.08,...,3.9,3.9,732.8,237.2,220.7,454.3,959.6,130020,34.68,2557.0

In [49]:
cpi = pd.read_csv('data_source/SA_CPI.csv', parse_dates=True, infer_datetime_format=True)

In [51]:
cpi.head()

   year  CPI(%)
0  2018   3.835
1  2017   6.492
2  2016   6.943
3  2015   4.079
4  2014   5.880

In [59]:
# Merge with cpi and drop unnecessary columns
df_3 = df_2.merge(cpi, how='left',
                 left_on=df_2['Date'].apply(lambda x: x[:4]),
                 right_on=cpi['year'].apply(lambda x: str(x))).drop('year', axis=1)

In [61]:
# data + debt + cpi
df_3.head(1)

,Date,company,current_price,momentum,moving_average,moving_volatility,trading_range,target_return,exp_market_change,rates,...,Share_repurchase,Non_current_assets,Current_assets,Non_current_liabilities,Current_liabilities,net_cash_op_act,Debt(M),Debt(%GDP),Debt_Per_Capita,CPI(%)
0,2010/02/17,Anglogold Ashanti Ltd,29500.0,-0.103343,30598.216667,1854.530002,850.55,0.090136,-0.016852,7.08,...,3.9,732.8,237.2,220.7,454.3,959.6,130020,34.68,2557.0,5.468

In [62]:
gdp = pd.read_csv('data_source/SA_GDP.csv', parse_dates=True, infer_datetime_format=True)

In [63]:
gdp.head()

   Date  GDP_Mill$  GDP_Growth(%)
0  2017    274.183            0.8
1  2016    294.900            0.3
2  2015    317.568            1.3
3  2014    351.116            1.7
4  2013    366.802            2.5

In [68]:
# Merge with gdp and drop unnecessary columns
df_4 = df_3.merge(gdp, how='left',
                 left_on=df_3['Date'].apply(lambda x: x[:4]),
                 right_on=gdp['Date'].apply(lambda x: str(x)),
                 suffixes=('', '_y')).drop('Date_y', axis=1)

In [70]:
# data + debt + cpi + gdp
df_4.head(1)

,Date,company,current_price,momentum,moving_average,moving_volatility,trading_range,target_return,exp_market_change,rates,...,Current_assets,Non_current_liabilities,Current_liabilities,net_cash_op_act,Debt(M),Debt(%GDP),Debt_Per_Capita,CPI(%),GDP_Mill$,GDP_Growth(%)
0,2010/02/17,Anglogold Ashanti Ltd,29500.0,-0.103343,30598.216667,1854.530002,850.55,0.090136,-0.016852,7.08,...,237.2,220.7,454.3,959.6,130020,34.68,2557.0,5.468,375.304,3.0

In [74]:
unemploy = pd.read_csv('data_source/SA_unemployment.csv', parse_dates=True, infer_datetime_format=True)

In [76]:
unemploy.head()

   Date  Unemployment  Unemployment_Change(%)  Unemployment_alt
0  2017          27.6                    3.27              24.8
1  2016          26.7                    5.42              24.9
2  2015          25.4                    1.00              25.0
3  2014          25.1                    1.52              25.1
4  2013          24.7                   -0.60              24.6

In [77]:
# Merge with gdp and drop unnecessary columns
df_5 = df_4.merge(unemploy, how='left',
                 left_on=df_4['Date'].apply(lambda x: x[:4]),
                 right_on=unemploy['Date'].apply(lambda x: str(x)),
                 suffixes=('', '_y')).drop('Date_y', axis=1)

In [79]:
# data + debt + cpi + gdp + unemployment
df_5.head(1)

,Date,company,current_price,momentum,moving_average,moving_volatility,trading_range,target_return,exp_market_change,rates,...,net_cash_op_act,Debt(M),Debt(%GDP),Debt_Per_Capita,CPI(%),GDP_Mill$,GDP_Growth(%),Unemployment,Unemployment_Change(%),Unemployment_alt
0,2010/02/17,Anglogold Ashanti Ltd,29500.0,-0.103343,30598.216667,1854.530002,850.55,0.090136,-0.016852,7.08,...,959.6,130020,34.68,2557.0,5.468,375.304,3.0,24.9,4.96,24.7

---
### Thus far
below are are descriptions of the data thus far

#### Note:
redundant columns need to be removed.

checks for collinearity need to be made

check with colleagues for additional data/features

In [80]:
df_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 362 entries, 0 to 361
Data columns (total 31 columns):
Date                       362 non-null object
company                    362 non-null object
current_price              362 non-null float64
momentum                   362 non-null float64
moving_average             362 non-null float64
moving_volatility          362 non-null float64
trading_range              362 non-null float64
target_return              362 non-null float64
exp_market_change          362 non-null float64
rates                      362 non-null float64
Revenue                    362 non-null float64
Cost_of_Sales              362 non-null float64
Gross_profit               362 non-null float64
Operating_profit           362 non-null float64
Net_Profit                 362 non-null float64
Issue_of_shares            362 non-null float64
Share_repurchase           362 non-null float64
Non_current_assets         362 non-null float64
Current_assets             362 non-null float64
Non_current_liabilities    362 non-null float64
Current_liabilities        362 non-null float64
net_cash_op_act            362 non-null float64
Debt(M)                    362 non-null int64
Debt(%GDP)                 362 non-null float64
Debt_Per_Capita            362 non-null float64
CPI(%)                     362 non-null float64
GDP_Mill$                  362 non-null float64
GDP_Growth(%)              362 non-null float64
Unemployment               362 non-null float64
Unemployment_Change(%)     362 non-null float64
Unemployment_alt           362 non-null float64
dtypes: float64(28), int64(1), object(2)
memory usage: 90.5+ KB

In [81]:
df_5.describe()

,current_price,momentum,moving_average,moving_volatility,trading_range,target_return,exp_market_change,rates,Revenue,Cost_of_Sales,...,net_cash_op_act,Debt(M),Debt(%GDP),Debt_Per_Capita,CPI(%),GDP_Mill$,GDP_Growth(%),Unemployment,Unemployment_Change(%),Unemployment_alt
count,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,3.620000e+02,3.620000e+02,...,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000
mean,16974.962707,0.044377,16564.897084,759.215547,428.271938,0.024152,0.019987,5.913066,6.474576e+04,4.183132e+04,...,18368.105707,155498.701657,43.678149,2925.649171,5.465779,360.396334,2.043923,25.210221,1.744309,24.860773
std,21958.572134,0.124124,21123.930998,1087.678001,517.952050,0.126972,0.049025,0.723839,2.467824e+05,1.666338e+05,...,89388.284061,10996.854573,5.644972,194.625747,1.116650,39.507483,0.953041,0.639278,2.264707,0.176162
min,1407.000000,-0.497312,1315.200000,15.429080,18.900000,-0.448740,-0.130974,4.930000,3.400000e+01,1.000000e+00,...,-13213.000000,130020.000000,34.680000,2557.000000,3.571000,294.900000,0.300000,24.700000,-0.600000,24.600000
25%,4794.750000,-0.023584,4642.058333,186.717128,122.650000,-0.048975,-0.015685,5.490000,6.032715e+03,2.462750e+03,...,1004.250000,152509.000000,38.230000,2742.000000,4.079000,317.568000,1.300000,24.800000,-0.300000,24.700000
50%,11550.500000,0.045823,11533.641667,458.309578,308.758333,0.020117,0.025172,5.730000,1.647400e+04,1.046500e+04,...,2318.100000,159429.000000,44.100000,3046.000000,5.858000,366.802000,2.200000,24.900000,1.000000,24.900000
75%,19736.000000,0.108954,19084.329167,978.691231,566.383333,0.094745,0.054444,6.420000,3.932775e+04,2.196400e+04,...,5869.500000,162398.000000,49.330000,3091.000000,6.340000,396.332000,3.000000,25.400000,4.960000,25.000000
max,216500.000000,0.790000,211206.766667,11516.442725,4833.900000,0.540323,0.155542,7.480000,2.299925e+06,1.600878e+06,...,779740.000000,164828.000000,51.700000,3104.000000,6.943000,416.879000,3.300000,26.700000,5.420000,25.100000

In [83]:
df_5.shape

(362, 31)

In [ ]:
# df_5.to_csv('Data_prepped')