In [1]:
import pandas as pd

# Linear Regression

## Data

Using: 
- Company fundementals 
- futures prices
- history of stock prices
- interest rates
- CPI
- GDP
- SA Debt 
- unemployment

In [21]:
data_all = pd.read_csv('data_all.csv').drop('Unnamed: 0',axis=1)
data_signif = pd.read_csv('data_signif.csv').drop('Unnamed: 0',axis=1)

#### Created Features

In [13]:
data_all[['current_price','moving_average', 'moving_volatility', 'trading_range','momentum']].head()

   current_price  moving_average  moving_volatility  trading_range  momentum
0        29500.0    30598.216667        1854.530002     850.550000 -0.103343
1        31150.0    28743.150000        1079.933674     697.066667  0.139982
2        31420.0    31682.016667        1388.464601     864.983333 -0.026943
3        34987.0    32142.716667         784.923382     705.033333  0.096771
4        33230.0    32411.016667        1134.366223     629.016667 -0.007586

#### Added Extra Features from External Data

In [19]:
data_all[['Debt_M', 'Debt(perc_GDP)', 'Debt_Per_Capita', 'CPI_perc',
       'GDP_Mill_dollars', 'GDP_Growth_perc', 'Unemployment_alt']].head()

,Debt_M,Debt(perc_GDP),Debt_Per_Capita,CPI_perc,GDP_Mill_dollars,GDP_Growth_perc,Unemployment_alt
0,130020,34.68,2557.0,5.468,375.304,3.0,24.7
1,130020,34.68,2557.0,5.468,375.304,3.0,24.7
2,130020,34.68,2557.0,5.468,375.304,3.0,24.7
3,130020,34.68,2557.0,5.468,375.304,3.0,24.7
4,159429,38.23,3091.0,3.571,416.879,3.3,24.7

In [15]:
#28 Features
data_all.columns

Index(['Date', 'company', 'current_price', 'momentum', 'moving_average',
       'moving_volatility', 'trading_range', 'target_return',
       'exp_market_change', 'rates', 'Revenue', 'Cost_of_Sales',
       'Gross_profit', 'Operating_profit', 'Net_Profit', 'Issue_of_shares',
       'Share_repurchase', 'Non_current_assets', 'Current_assets',
       'Non_current_liabilities', 'Current_liabilities', 'net_cash_op_act',
       'Debt_M', 'Debt(perc_GDP)', 'Debt_Per_Capita', 'CPI_perc',
       'GDP_Mill_dollars', 'GDP_Growth_perc', 'Unemployment_alt'],
      dtype='object')

### Using Backward Elimination with a SL = 0.05

In [33]:
# 8 columns
data_signif.head().drop(['target_return'],axis=1)

,exp_market_change,rates,Debt_M,Debt_Per_Capita,CPI_perc,GDP_Mill_dollars,GDP_Growth_perc,Unemployment_alt
0,-0.016852,7.08,130020,2557.0,5.468,375.304,3.0,24.7
1,0.044321,6.58,130020,2557.0,5.468,375.304,3.0,24.7
2,0.008204,6.42,130020,2557.0,5.468,375.304,3.0,24.7
3,0.136024,5.65,130020,2557.0,5.468,375.304,3.0,24.7
4,0.076571,5.53,159429,3091.0,3.571,416.879,3.3,24.7

---

## Training Models on All the features 
### note all features were scaled using StandardScaler

> bar chart of coef_

highlighting difference between Lasso and Ridge

> Table of

>MSE train   vs MSE test